@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:wght@500&display=swap");

body {
    font-family: "Andada Pro", serif;
    background-color: #e0e1dd;
}

h1 {
    padding-bottom: 1.5rem;
}

h1,
h2,
h4,
.navbar-brand {
    font-family: "Averia Serif Libre", cursive;
}

p {
    text-align: justify;
}

#picture {
    border-radius: 10%;
}

.botton {
    text-decoration: none;
    color: white;
    background-color: #475550;
    padding: 10px 20px;
    font-family: "Averia Serif Libre", cursive;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
}
/* navbar */
nav {
    border: 3px solid red;
}

.header {
    display: flex;
    background-color: #0d1b2a;
    height: 75px;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.name-logo {
    position: absolute;
    left: 1em;
    margin: auto;
}

.nav-links {
    position: absolute;
    margin: auto;
}

.sociais {
    position: absolute;
    right: 1em;
    margin: auto;
}

.header a {
    color: #e0e1dd;
    font-size: 1em;
    text-decoration: none;
}

nav a:hover {
    color: #babbb8;
    font-size: 1.2em;
}

/*desativa hover dos icones sociais*/
.active a:hover {
    font-size: 1em;
}

.social {
    width: 30px;
    filter: invert(100%);
}

.logo {
    width: 50px;
    border-radius: 50%;
}

a {
    text-decoration: none;
}
/*navbar*/
#copy {
    background-color: #f1f1f1;
}

#copy .container {
    padding: 10px;
    text-align: center;
}

#copy .container p {
    margin: 0px;
}

#copy .container a {
    font-weight: bold;
    color: #444;
}

#copy .container a:hover {
    text-decoration: none;
    color: #3ec1d5;
}

@media (orientation: landscape) {
    p {
        font-size: 1.25rem;
    }
}

@media (orientation: portrait) {
    .section {
        padding-top: 7rem;
    }
}
