@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:wght@500&display=swap");

body {
    font-family: "Andada Pro", serif;
    background-color: #e0e1dd;
    margin: 0;
    align-content: center;
}

h1 {
    padding-bottom: 1.5rem;
}

h1,
h2,
h4,
.navbar-brand {
    font-family: "Averia Serif Libre", cursive;
}

p {
    text-align: justify;
}

#picture {
    border-radius: 10%;
}

/* navbar */
.header {
    font-family: "Averia Serif Libre", cursive;
    font-size: 18px;
    display: flex;
    background-color: #0d1b2a;
    border-bottom: 7px solid #415A77;
    height: 75px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header .name-logo a {
    display: flex;
    align-items: center;
}

.header li {
    display: inline;
    list-style: none;
}

.name-logo {
    position: absolute;
    left: 1em;
    margin: auto;
}

.nav-links {
    position: absolute;
    margin: auto;
}

.sociais {
    position: absolute;
    right: 1em;
    margin: auto;
}

.header a {
    color: #e0e1dd;
    font-size: 1em;
    text-decoration: none;
}

nav a:hover {
    color: #babbb8;
    font-size: 1.2em;
}

/*desativa hover dos icones sociais*/
.active a:hover {
    font-size: 1em;
}

.social {
    width: 30px;
    filter: invert(100%);
}

.logo {
    width: 50px;
    border-radius: 50%;
}

a {
    text-decoration: none;
}
/*navbar*/

/*main*/
#about {
    font-size: 30px;
}

.logos-main {
    width: 40px;
}

.pt-4 {
    padding-top: 4em;
}

.pl-2 {
    padding-left: 2em;
}

.container {
    display: flex;
    width: 71%;
    margin: auto;
}

.justify-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.picture {
    border-radius: 20px;
    box-shadow: 3px 3px #0d1b2a, -1em 0 0.4em #778da9;
}

main a {
    text-decoration: none;
    color: #2fc18c;
}

main a:hover {
    color: #036b52;
}

.botton {
    text-decoration: none;
    color: #E0E1DD;
    background-color: #0d1b2a;
    padding: 10px 20px;
    font-family: "Averia Serif Libre", cursive;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
}

.botton:hover {
    color: #778DA9;
}

/*main*/

/*rodapé*/
.footer {
    display: flex;
    background-color: #f1f1f1;
    padding: 0;
    height: 25px;
    color: #444;
    width: 100%;
    align-items: center;
}

.footer p {
    font-size: small;
    width: 100%;
}

@media (orientation: landscape) {
    p {
        font-size: 1.25rem;
    }
}

@media (orientation: portrait) {
    .section {
        padding-top: 7rem;
    }
}
